{% extends "tabby/base.html" %}
{% block title %}
Tabby
{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "css/question.css" %}">
<link rel="stylesheet" href="{% static "css/tag.css" %}">
{% endblock css %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item active">
          <a class="nav-link" href="#">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">sth</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">sth</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
    {% for question in q_list %}
      <section>
        <div class="row">
          <div class="col-md-2 qa_rank">
            <div class="votes">{{ question.total_thumb }}<br>votes</div>
            <div {% if question.reply_num == 0 %}
            class="answers-r"
            {% else %}
            class="answers-g"
            {% endif %} >{{ question.reply_num }}<br>replies</div>
          </div>
          <div class="col-md-10">
            <div class="author">
              <a href="/profile/{{ question.latest_act_user }}">{{ question.latest_act_user }}</a>
              <span style="color: #999;">&nbsp;&nbsp;&nbsp;{{ question.latest_act_type }}&nbsp;&nbsp;&nbsp;</span>
              <a href="/question/{{ question.id }}">{{ question.latest_act_time }}</a>
            </div>
            <h2 class="title">
              <a href="/question/{{ question.id }}">
                {{ question.title }}
              </a>
            </h2>
            <ul class="tag-list">
            {% for tag in question.tags %}
              <li class="tag">
                <a href="#">{{ tag }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2); margin:5px 0 10px;" width="100%" color=#987cb9>
        </section>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}