{% extends "tabby/base.html" %}
{% block title %}
Tabby
{% endblock title %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "css/question.css" %}">
{% endblock css %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item active">
          <a class="nav-link" href="#">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">sth</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">sth</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
    {% for question in q_list %}
      <section>
        <div class="row">
          <div class="col-md-3 qa_rank">
            <div class="votes">{{ question.votes }}</div>
            <div class="answers">{{ question.answers }}</div>
          </div>
          <div class="col-md-9">
            <div class="author">
              <a href="#">{{ question.author }}</a>
              <span> </span>
              <a href="#">{{ question.time }}</a>
            </div>
            <h2 class="title">
              <a href="#">
                {{ question.title }}
              </a>
            </h2>
            <ul class="tag-list">
            {% for tag in question.tags %}
              <li>
                <a href="#" class="tag">tag</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </section>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}