{% extends "tabby/base.html" %}
{% block title %}
  Sign up/ Sign in
{% endblock title %}
{% block content %}
	<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TabbY</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">111</a></li>
          <li><a href="#">222</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Sign out</a></li>
          <li><a href="/login">Sign up/ Sign in</a></li>
        </ul>
      </div>
    </nav>
    </div>
    <div class ="col-md-1"></div>
    <div name="infomation" class ="row">
        <div class = "col-sm-200 col-md-3" style="margin-top:50px">
        	<div class="thumbnail">
                <img class="circle" src="1.png">
                <h3>&nbsp;&nbsp;昵称</h3><br/>
                <p id="nickname">&nbsp;&nbsp;&nbsp;&nbsp;nickname.Z</p>
                <br/>
                <h3>&nbsp;&nbsp;个人简介</h3><br/>
                <textarea class="form-control" rows="3" id="description">&nbsp;&nbsp;&nbsp;&nbsp;这是一个普通的，测试用的，凑字数的个人简介，应该差不多这么长吧</textarea>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div name="answer" class=" col-md-7 panel panel-default" style="margin-top:50px">
        	<div class="panel-heading">
            	<ul class="nav nav-pills nav-justified">
                  <li role="presentation"><a href="profile.html" ><h3>你提出的问题</h3></a></li>
                  <li role="presentation"><a href="profile_answer.html" ><h3>你回答的问题</h3></a></li>
                  <li role="presentation" class="active"><a href="profile_vote.html" class="active"><h3>你点赞的问题</h3></a></li>
                  <li role="presentation"><a href="profile_circle.html"><h3>你的活跃度</h3></a></li>
                </ul>
            </div>
            <ul class="list-group">
            	<li class="list-group-item"><h4>你点赞的问题1</h4></li>
                <li class="list-group-item"><h5>问题1的最高回答</h5></li>
            </ul>
    	</div>
      </div>
  </div>
{% endblock content %}
