{% extends "tabby/base.html" %}
{% block title %}
  Sign up/ Sign in
{% endblock title %}
{% block content %}
	<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TabbY</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">111</a></li>
          <li><a href="#">222</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Sign out</a></li>
          <li><a href="/login">Sign up/ Sign in</a></li>
        </ul>
      </div>
    </nav>
    </div>
    <div class ="col-md-1"></div>
    <div name="infomation" class ="row">
        <div class = "col-sm-200 col-md-3" style="margin-top:50px">
        	<div class="thumbnail">
                <img class="circle" src="1.png">
                <h3>&nbsp;&nbsp;昵称</h3><br/>
                <p name="nickname">&nbsp;&nbsp;&nbsp;&nbsp;nickname.Z</p>
                <br/>
                <h3>&nbsp;&nbsp;个人简介</h3><br/>
                <textarea class="form-control" rows="3" id="description">&nbsp;&nbsp;&nbsp;&nbsp;这是一个普通的，测试用的，凑字数的个人简介，应该差不多这么长吧</textarea>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div name="answer" class=" col-md-7 panel panel-default" style="margin-top:50px">
        	<div class="panel-heading">
            	<ul class="nav nav-pills nav-justified">
                  <li role="presentation"><a href="profile.html" ><h3>你提出的问题</h3></a></li>
                  <li role="presentation"><a href="profile_answer.html" ><h3>你回答的问题</h3></a></li>
                  <li role="presentation"><a href="profile_vote.html"><h3>你点赞的问题</h3></a></li>
                  <li role="presentation"  class="active"><a href="profile_circle.html" class="active"><h3>你的活跃度</h3></a></li>
                </ul>
            </div>
            <div id="canvas">
            	<canvas id="myChart" width="200" height="100"></canvas>
                
            </div>
			<script src="{% static "js/chart.js.js" %}"></script>
            <script type="text/javascript">
			var ctx = document.getElementById("myChart").getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: ["Sun", "Mon", "Tue", "Wed", "Tur", "Fri","Sat"],
					datasets: [{
						label: '活跃度',
						data: [12, 19, 3, 5, 2, 3,2],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(200, 255, 100, 0.2)',
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255,99,132,1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(200, 150, 100, 1)',
							'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					}
				}
			});
			</script>
    	</div>
      </div>
  </div>
{% endblock content %}
