{% extends "tabby/base.html" %}
{% block title %}
   Profile
{% endblock title %}
{% block css %}

{% endblock css %}
{% block content %}
{% load static %}
<div class="container">
    <p> {{err_msg}} </p>
	<p> {{head_image}} </p>	
	<form action="/profile/{{ user_name }}/" enctype="multipart/form-data" method="post">{% csrf_token %}
		
	<fieldset>
		
	<input type="file" name="head_image" />
		
	<input type="submit" value="submit"/>
		
	</fieldset>
		
	</form>
	<img src="/static/{{ head_image | safe }}" /> 
</div>
{% endblock content %}
