.circle {
    margin: 0 auto 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    margin: 0 auto 0;
    height: 150px;
}

section a {
    color: rgb(32, 32, 32);
}

section a:hover {
    color: #017E66;
}

.side-nav ul {
    height: 420px;
}

.side-nav li {
    width: 130px;
    height: 130px;
    -moz-transform:rotate(270deg); 
    -webkit-transform:rotate(270deg); 
    -o-transform:rotate(270deg); 
    transform:rotate(270deg); 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

