.q-author {
    display: inline-block;
    color: #999;
}

.card-header {
    border-bottom: 2px #bbb solid;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.ans-info {
    color: #999;
}

.ans-info a {
    color: #999;
}

.ans-author {
    text-align: left;
    margin-bottom: 10px;
}

.ans-author a {
    color: #017E66;
}