.votes {
    display: inline-block;
    height: 40px;
    width: 45px;
    margin: 0 6px;
}

.answers {
    display: inline-block;
    height: 40px;
    width: 45px;
    margin: 0 6px;
    background-color: #AD3A37;
    color: #fff;
}

.qa_rank div {
    text-align: center;
}

.author {
    margin-bottom: 10px;
    font-size: 13px;
}

.author a {
    color: #999;
}

.tag-list {
    padding-left: 0px;
    display: inline-block;
}

.title {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 16px;
}

.tag-list li {
    list-style: none;
    display: inline-block;
}
